<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
          ERROR: {{status!.message}}
      </div>
  </div>
</div>

<div *ngIf="status==null">
  <table class="table table-striped table-hover">
      <tbody>
          <tr>
              <th>Property</th>
              <th>Value</th>
          </tr>
          <tr>
              <td>id</td>
              <td>{{oThread.id}}</td>
          </tr>
          <tr>
              <td>title</td>
              <td>{{oThread.title}}</td>
          </tr>
          <tr>
              <td>user</td>
              <td>{{oThread.user.name}}</td>
          </tr>
          <tr>
              <td>replies</td>
              <td>{{oThread.replies}}</td>
          </tr>
      </tbody>
  </table>
</div>
