<h3>Showing {{datos.numberOfElements}} of total {{datos.totalElements}} registers</h3>

<select [(ngModel)]="size" (change)="onChangeRPP()">
  <option value="10">10</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>




<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Username</th>
    <th>Role</th>
  </tr>
  <tr *ngFor="let u of datos.content">
    <td>{{u.id}}</td>
    <td>{{u.name}}</td>
    <td>{{u.surname}}</td>
    <td>{{u.lastname}}</td>
    <td>{{u.email}}</td>
    <td>{{u.username}}</td>
    <td>
      <span *ngIf="u.role==true">Admin</span>
      <span *ngIf="u.role==false">User</span>
    </td>
  </tr>
</table>