<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-between mb-3">
    <h3>{{ "plist.no-filter" | transloco }}</h3>
    <h3>{{ "plist.showing" | transloco }} {{oPage?.numberOfElements}} {{ "plist.of-total" | transloco }} {{oPage?.totalElements}} {{ "user.lowercase.plural" | transloco }}.</h3>
  </div>
  <input type="text" (keyup)="search(getValue($event))" id="name" placeholder="Search"/>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
  

  

  <div class="mb-5 ">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">{{ "global.id" | transloco }}</th>
          <th (click)="doOrder('name')">{{ "user.name" | transloco }}</th>
          <th (click)="doOrder('surname')">{{ "user.surname" | transloco }}</th>
          <th (click)="doOrder('lastname')">{{ "user.lastname" | transloco }}</th>
          <th (click)="doOrder('email')">{{ "user.email" | transloco }}</th>
          <th (click)="doOrder('username')">{{ "user.username" | transloco }}</th>
          <th (click)="doOrder('role')">{{ "user.role.role" | transloco }}</th>
          <th>{{ "thread.uppercase.plural" | transloco }}</th>
          <th>{{ "reply.uppercase.plural" | transloco }}</th>
          <th>{{ "plist.tools" | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{u.id}}</strong></td>
          <td>{{u.name}}</td>
          <td>{{u.surname}}</td>
          <td>{{u.lastname}}</td>
          <td>{{u.email}}</td>
          <td>{{u.username}}</td>
          <td class="text-center">
            <span *ngIf="u.role==true">{{ "user.role.user" | transloco }}</span>
            <span *ngIf="u.role==false">{{ "user.role.admin" | transloco }}</span>
          </td>
          <td class="text-center">
            <a [routerLink]="['/admin','thread','plist','byuser',u.id]" *ngIf="u.threads>0">{{u.threads}}</a>
            <span *ngIf="u.threads==0">0</span>
          </td>
          <td class="text-center">
            <a [routerLink]="['/admin','reply','plist','byuser',u.id]" *ngIf="u.replies>0">{{u.replies}}</a>
            <span *ngIf="u.replies==0">0</span>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" [routerLink]="['/admin','user','view',u.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-primary" (click)="doView(u)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-warning" [routerLink]="['/admin','user','edit',u.id]"><i
                  class="pi pi-pencil"></i></button>
              <button *ngIf="u.threads==0 && u.replies==0" class="btn btn-danger" (click)="doRemove(u)"><i
                  class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>






  </div>
</div>


<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> {{ "user.removal" | transloco }}</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-user-detail-unrouted [id]="oUserToRemove!.id"></app-admin-user-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>{{ "user.remove-question" | transloco }}</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd.reject()"> {{ "global.no" | transloco }}</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd.accept()"> {{ "global.yes" | transloco }}</button>
  </ng-template>
</p-confirmDialog>