<h2 *ngIf="status!=null">ERROR: {{status.message}}</h2>
<div *ngIf="status==null">
  <h2>Users</h2>
  <h3>Showing {{oPage.numberOfElements}} of total {{oPage.totalElements}} users.</h3>

  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage.totalElements" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>

  <div class="card">
    <p-table [value]="oPage.content" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>ID</th>
          <th (click)="doOrder('name')">Name</th>
          <th (click)="doOrder('surname')">Surname</th>
          <th>Last name</th>
          <th (click)="doOrder('email')">Email</th>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-u>
        <tr>
          <td>{{u.id}}</td>
          <td>{{u.name}}</td>
          <td>{{u.surname}}</td>
          <td>{{u.lastname}}</td>
          <td>{{u.email}}</td>
          <td>{{u.username}}</td>
          <td>
            <span *ngIf="u.role==true">Admin</span>
            <span *ngIf="u.role==false">User</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>