<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class=" d-flex">
    <ol>
      <li *ngFor="let u of oPage?.content">
        {{u.username}}: {{u.replies}} replies
      </li>
    </ol>
  </div>
  
  <!--Modified by p Gráfico featured users-->
  <canvas id="donutChart" width="400" height="400"></canvas>
</div>

