<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-center" *ngIf="!oSessionService.isSessionActive()">
    <h5 class="px-2">{{ "plist.showing" | transloco }} {{oPage?.numberOfElements}} {{ "plist.of-total" | transloco }} {{oPage?.totalElements}} {{ "reply.lowercase.plural" | transloco }}</h5>
  </div>
  <div class="d-flex justify-content-between" *ngIf="oSessionService.isSessionActive()">
    <button type="button" class="btn btn-outline-primary" (click)="postNewThread()">{{ "global.post" | transloco }} {{ "global.a.masc" | transloco }} {{ "thread.lowercase.singular" | transloco }}</button>
   
    <h5 class="px-2">{{ "plist.showing" | transloco }} {{oPage?.numberOfElements}} {{ "plist.of-total" | transloco }} {{oPage?.totalElements}} {{ "reply.lowercase.plural" | transloco }}</h5>
    
    <div ><button (dragover)="onDragOver($event)" (drop)="onDrop($event)" class="btn btn-danger px-2"  ><i class="pi pi-trash"></i></button>
      <button  type="button" class="btn btn-outline-primary" (click)="postNewReply()">{{ "global.post" | transloco }} {{ "global.a.fem" | transloco }} {{ "reply.lowercase.singular" | transloco }}</button>
  </div>
</div>
  <div class="button-container" >
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="" [showPageLinks]="false"></p-paginator>
  </div>
</div>


  <div class="m-1" >
    <ul class="list-group">
     
      <li class="list-group-item" *ngIf="oPage?.content?.length==0">
        <div class="d-flex justify-content-center align-items-center my-3 p-5">
          <div class="alert alert-danger" role="alert">

            <mat-icon style="transform: scale(2);" aria-hidden="false" aria-label="No replies found"
              fontIcon="sentiment_dissatisfied"></mat-icon>
          </div>

          <h4  class="px-3">{{ "reply.no-replies-found" | transloco }}<i style="color:red">"{{oThread?.title}}"</i> {{ "thread.lowercase.singular" | transloco }}</h4>
        </div>
      </li>
      <div class="drop-area"  >
        <ul class="list-group">
          <li   class="list-group-item" *ngFor="let r of oPage?.content" 
        draggable="true" (dragstart)="onDragStart($event, r)"  >
        <ng-container *ngIf="r.user.active">
          <div  class="d-flex flex-column">
            <div class="replies"  class="d-flex justify-content-between my-3">
              <div class="badge text-bg-info" *ngIf="r.user.username!=oSessionService.getUsername()">
                {{r.user.username}}
              </div>
              <div class="badge text-bg-warning" *ngIf="r.user.username==oSessionService.getUsername()">
                {{r.user.username}}
              </div>
              <div class="badge text-bg-secondary">{{r.creation | date:'dd/MM/yyyy HH:mm:ss'}}</div>
            </div>
            <div class="my-3">
              <h2>{{r.title}}</h2>
            </div>
            <p>{{r.body}}</p>
            <div class="d-flex justify-content-center my-2">
              <button type="button" class="btn  btn-sm btn-outline-danger" (click)="doRemove(r)"
                *ngIf="r.user.username==oSessionService.getUsername()">{{ "global.remove.remove.lowercase" | transloco }}</button>
            </div>
          </div>
        </ng-container>
      </li>
    </ul>

  </div>



<p-confirmDialog #cd2 [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5> {{ "reply.removal" | transloco }}</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-user-reply-detail-unrouted [id]="oReplyToRemove!.id"></app-user-reply-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>{{ "reply.remove-question" | transloco }}</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd2.reject()"> {{ "global.no" | transloco }}</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd2.accept()"> {{ "global.yes" | transloco }}</button>
  </ng-template>
</p-confirmDialog>