<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-center">
    <h4>Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} replies</h4>
  </div>
  <div class="flex justify-content-center m-1">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]=""></p-paginator>
  </div>

  <div class="m-1">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let r of oPage?.content">
        <div class="ms-2 me-auto">
          <p>{{r.title}} <span class="badge text-bg-info">{{r.user.username}}</span>
          </p>
          <p>{{r.body}}</p>
        </div>

      </li>
    </ul>

  </div>
</div>


<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> Reply removal</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-reply-detail-unrouted [id]="oReplyToRemove!.id"></app-admin-reply-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Are you sure to remove reply?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>