<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="d-flex justify-content-center mb-3">
        <h1 class="my-5">{{ "login.form" | transloco }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>{{ "user.username" | transloco }}:</mat-label>
      <input matInput [placeholder]="'user.username' | transloco" formControlName="username">
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">{{ "login.username-required" | transloco }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ "user.password" | transloco }}:</mat-label>
      <input matInput type="password" [placeholder]="'user.password' | transloco" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">{{ "login.password-required" | transloco }}</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">{{ "login.password-minlength" | transloco }}</mat-error>
    </mat-form-field>

    <div class="d-flex  justify-content-center ">
      <a routerLink="/sendemail" class="pb-5 text-decoration-underline">I forgot my password</a>
    </div>

    <mat-form-field class="full-width">
      <img [src]="'data:image/png;base64,' + oPrelogin?.captchaImage" alt="Captcha">
      <input matInput placeholder="Captcha" formControlName="captcha">
      <mat-error *ngIf="loginForm.get('captcha')?.hasError('required')">Captcha is required</mat-error>
    </mat-form-field>

        <!-- Es necesario ejecutar el siguiente comando: npm install ngx-captcha -->
        <!-- Integración de reCAPTCHA en el formulario de inicio de sesión -->
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2><br>
        
        <!-- Comentarios específicos -->
        
        <!-- 
              - #captchaElem: Variable de referencia de plantilla que permite acceder al componente reCAPTCHA desde el código del componente. Puede usarse para interactuar con el componente, como obtener su estado o reiniciarlo.
              - [siteKey]="siteKey": Vincula dinámicamente el valor de la variable siteKey del componente con la propiedad siteKey del componente ngx-recaptcha2. El siteKey es una clave única proporcionada por Google reCAPTCHA para identificar y validar tu sitio web.
      -->

    <div class="control-group text-center">
    <button class="mx-1" mat-raised-button type="submit" color="primary">{{ "login.login" | transloco }}</button>
    <button class="mx-1" mat-raised-button type="button" color="warn" (click)="onReset()">{{ "login.reset" | transloco }}</button>
    </div>
  </form>

  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <div class="control-group text-center mt-3">
          <button class="btn btn-danger m-2" (click)="loginAdmin()">{{ "login.as-admin" | transloco }}</button>
          <button class="btn btn-success m-2" (click)="loginUser()">{{ "login.as-user" | transloco }}</button>
        </div>
      </div>
    </div>
  </div>

</div>