<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-3">
          <div class="card">
             <div class="card-body">
                  <h2 class="card-title text-center mb-4">Actualizar Contraseña</h2>
                  <p class="text-center">Ingrese su nueva contraseña</p>
                    
                <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
                    <mat-form-field class="full-width">
                      <mat-label>{{ "user.password" | transloco }}:</mat-label>
                      <input type="password" matInput [placeholder]="'user.password' | transloco" formControlName="password">
                      <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('required')">{{ "login.password-required" | transloco }}</mat-error>
                      <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('minlength')">{{ "login.password-minlength" | transloco }}</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="full-width">
                      <mat-label>{{ "Confirm Password" | transloco }}:</mat-label>
                      <input  type="password"  matInput [placeholder]="'Confirm Password' | transloco" formControlName="confirmPassword">
                      <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">{{ "login.password-required" | transloco }}</mat-error>
                      <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('minlength')">{{ "login.password-minlength" | transloco }}</mat-error>
                    </mat-form-field>
                    
                    <button type="submit" class="btn btn-primary">Recuperar Contraseña</button>
                  </form>
                 
              </div> 
          </div>
      </div>
  </div>
</div>