<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
        </div>
    </div>
</div>

<div *ngIf="status==null">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>{{ "user.name" | transloco }}</th>
                <td>{{oUser.name}} {{oUser.surname}} {{oUser.lastname}}</td>
            </tr>
            <tr>
                <th>{{ "user.email" | transloco }}</th>
                <td>{{oUser.email}}</td>
            </tr>
            <tr>
                <th>{{ "user.username" | transloco }}</th>
                <td>{{oUser.username}}</td>
            </tr>
            <tr>
                <th>{{ "user.role.role" | transloco }}</th>
                <td>
                    <span *ngIf="oUser.role==true">{{ "user.role.admin" | transloco }}</span>
                    <span *ngIf="oUser.role==false">{{ "user.role.user" | transloco }}</span>
                </td>
            </tr>
            <tr>
                <th>{{ "user.threads" | transloco }}</th>
                <td>
                    <span *ngIf="oUser.threads>0">{{oUser.threads}}</span>
                    <span *ngIf="oUser.threads==0">0</span>
                </td>
            </tr>
            <tr>
                <th>{{ "user.replies" | transloco }}</th>
                <td>
                    <span *ngIf="oUser.replies>0">{{oUser.replies}}</span>
                    <span *ngIf="oUser.replies==0">0</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>