a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.nav-item .active {
    background-color: darkslateblue;
    border-radius: 4px;
    color: aliceblue;
}

.nav-item .active a {    
    color: aliceblue !important;
}

<<<<<<< HEAD
=======
.dropdown-lang {
    margin-right: 1rem;
}

>>>>>>> 4934d8e2701ded4fdb1a922bcd8a09620f75a344
