a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.nav-item .active {
    background-color: darkslateblue;
    border-radius: 4px;
    color: aliceblue;
}

.nav-item .active a {    
    color: aliceblue !important;
}

