<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field [style.width.px]=250 *ngIf="operation=='EDIT'">
            <mat-label>{{ "global.id" | transloco }}:</mat-label>
            <input matInput formControlName="id" [placeholder]="'global.id' | transloco" required readonly>
            <mat-hint align="end">({{ "form.cant-change" | transloco }} {{ "form.this-number" | transloco }})</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>{{ "user.name" | transloco }}:</mat-label>
            <input matInput formControlName="name" [placeholder]="'user.name' | transloco" required>
            <mat-hint align="end">(3 {{ "form.to" | transloco }} 255 {{ "form.characters-long" | transloco }})</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">{{ "user.name" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('name', 'minlength')">{{ "form.more-length" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">{{ "form.limit-exceed" | transloco }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>{{ "user.surname" | transloco }}:</mat-label>
            <input matInput formControlName="surname" [placeholder]="'user.surname' | transloco" required>
            <mat-hint align="end">(3 {{ "form.to" | transloco }} 255 {{ "form.characters-long" | transloco }})</mat-hint>
            <mat-error *ngIf="hasError('surname', 'required')">{{ "user.surname" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('surname', 'minlength')">{{ "form.more-length" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('surname', 'maxlength')">{{ "form.limit-exceed" | transloco }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>{{ "user.lastname" | transloco }}:</mat-label>
            <input matInput formControlName="lastname" [placeholder]="'user.lastname' | transloco">
            <mat-hint align="end">({{ "form.max" | transloco }} 255 {{ "form.characters-long" | transloco }})</mat-hint>
            <mat-error *ngIf="hasError('lastname', 'maxlength')">{{ "form.limit-exceed" | transloco }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ "user.email" | transloco }}:</mat-label>
            <input matInput formControlName="email" [placeholder]="'user.email' | transloco" required>
            <mat-error *ngIf="hasError('email', 'required')">{{ "user.email" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">{{ "user.email" | transloco }} {{ "form.is-not-valid" | transloco }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ "user.username" | transloco }}:</mat-label>
            <input matInput formControlName="username" [placeholder]="'user.username' | transloco" required>
            <mat-hint align="end">(6 {{ "form.to" | transloco }} 15 {{ "form.alphanumeric" | transloco }})</mat-hint>
            <mat-error *ngIf="hasError('username', 'required')">{{ "user.username" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('username', 'minlength')">{{ "form.more-length" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('username', 'maxlength')">{{ "form.limit-exceed" | transloco }}</mat-error>
            <mat-error *ngIf="hasError('username', 'pattern')">{{ "form.characters-not-accepeted" | transloco }}</mat-error>
          </mat-form-field>
        </div>

        <mat-radio-group aria-label="Type of user" formControlName="role" required>
          <mat-radio-button [value]="true">{{ "user.role.admin" | transloco }}</mat-radio-button>
          <mat-radio-button [value]="false">{{ "user.role.user" | transloco }}</mat-radio-button>
          <mat-error *ngIf="hasError('role', 'required')">{{ "user.type" | transloco }} {{ "form.is-required" | transloco }}</mat-error>
        </mat-radio-group>

        <div class="text-center mt-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">{{ "global.save" | transloco }} {{ "user.lowercase.singular" | transloco }}</button>
        </div>

      </form>
    </div>
  </div>
</div>