<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-between mb-3">
    <h3 *ngIf="id_user>0">{{ "plist.filtered-by" | transloco }} {{ "user.lowercase.singular" | transloco }} ({{id_user}}
      - {{oUser?.name}} {{oUser?.surname}}) <a type="button" class="btn btn-danger btn-sm" *ngIf="id_user>0"
        [routerLink]="['/admin','thread','plist']">{{ "plist.reset-filter" | transloco }}</a></h3>
    <h3 *ngIf="!(id_user>0)">{{ "plist.no-filter" | transloco }}</h3>
    <h3>{{ "plist.showing" | transloco }} {{oPage?.numberOfElements}} {{ "plist.of-total" | transloco }}
      {{oPage?.totalElements}} {{ "thread.lowercase.plural" | transloco }}.</h3>
  </div>
  <input type="text" (keyup)="search(getValue($event))" id="name" placeholder="Search" />
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>


  <div class="mb-5 ">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">{{ "global.id" | transloco }}</th>
          <th (click)="doOrder('title')">{{ "thread.title" | transloco }}</th>
          <th (click)="doOrder('user')">{{ "user.uppercase.singular" | transloco }}</th>
          <th>{{ "plist.number-of" | transloco }} {{ "reply.lowercase.plural" | transloco }}</th>
          <th>{{ "plist.tools" | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{t.id}}</strong></td>
          <td>{{t.title}}</td>
          <td>
            <a [routerLink]="['/admin','thread','plist','byuser',t.user.id]">({{t.user.id}}) {{t.user.name}}
              {{t.user.surname}}</a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/admin','reply','plist','bythread',t.id]" *ngIf="t.replies>0">{{t.replies}}</a>
            <span *ngIf="t.replies==0">0</span>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" [routerLink]="['/admin','thread','view',t.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-primary" (click)="doView(t)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-warning" [routerLink]="['/admin','thread','edit',t.id]"><i
                  class="pi pi-pencil"></i></button>
              <button *ngIf="t.replies==0" class="btn btn-danger" (click)="doRemove(t)"><i
                  class="pi pi-trash"></i></button>
              <button class="btn" [ngClass]="{'btn-success': t.active, 'btn-danger': !t.active}"
                (click)="toggleThreadActive(t)">
                <i class="pi pi-power-off"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> {{ "thread.removal" | transloco }}
    </h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-thread-detail-unrouted [id]="oThreadToRemove!.id"></app-admin-thread-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>{{ "thread.remove-question" | transloco }}</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd.reject()"> {{ "global.no" | transloco
      }}</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd.accept()"> {{ "global.yes" | transloco
      }}</button>
  </ng-template>
</p-confirmDialog>