<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
        </div>
    </div>
</div>

<div *ngIf="status==null">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            <tr>
                <th>id</th>
                <td>{{oReply.id}}</td>
            </tr>
            <tr>
                <th>title</th>
                <td>{{oReply.title}}</td>
            </tr>
            <tr>
                <th>body</th>
                <td>{{oReply.body}}</td>
            </tr>
            <tr>
                <th>user</th>
                <td> <a [routerLink]="['/admin','user','view',oReply.user.id]">{{oReply.user.name}}
                        {{oReply.user.surname}}</a></td>
            </tr>
            <tr>
                <th>thread</th>
                <td> <a [routerLink]="['/admin','thread','view',oReply.thread.id]">{{oReply.thread.title}}</a> </td>
            </tr>
        </tbody>
    </table>
</div>