<div class="container">
  <div class="row justify-content-center">
      <div class="col">
          <div class="d-flex justify-content-center">
              <h1 class="my-3">List of replies</h1>
          </div>
          <div class="d-flex justify-content-center">
              <a class="btn btn-primary" [routerLink]="['/admin','reply','new']">New reply</a>
          </div>
      </div>    
      <app-admin-reply-plist-unrouted></app-admin-reply-plist-unrouted>                
  </div>
</div>