<h2 *ngIf="id==0">ERROR</h2>
<div *ngIf="id>0">
    <table>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>id</td>
            <td>{{datos.id}}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{datos.name}}</td>
        </tr>
        <tr>
            <td>surname</td>
            <td>{{datos.surname}}</td>
        </tr>
        <tr>
            <td>lastname</td>
            <td>{{datos.lastname}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{datos.email}}</td>
        </tr>
        <tr>
            <td>username</td>
            <td>{{datos.username}}</td>
        </tr>
        <tr>
            <td>role</td>
            <td>{{datos.role}}</td>
        </tr>
    </table>
</div>