<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-between mb-3">
    <h3 *ngIf="id_thread>0">{{ "plist.filtered-by" | transloco }} {{ "thread.lowercase.singular" | transloco }} ({{id_thread}} - {{oThread?.title | trimming}}) <a type="button"
        class="btn btn-danger btn-sm" *ngIf="id_thread>0" [routerLink]="['/admin','reply','plist']">{{ "plist.reset-filter" | transloco }}</a>
    </h3>  
    <h3 *ngIf="id_user>0">Filtered by user ({{id_user}} - {{oUser?.name}} {{oUser?.surname}}) <a type="button"
        class="btn btn-danger btn-sm" *ngIf="id_user>0" [routerLink]="['/admin','reply','plist']">reset filter</a></h3>
    <h3 *ngIf="!(id_user>0)&&!(id_thread>0)">No active filter</h3>
    <h3>Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} replies</h3>
    <h3 *ngIf="id_user>0">{{ "plist.filtered-by" | transloco }} {{ "user.lowercase.singular" | transloco }} ({{id_user}} - {{oUser?.name}} {{oUser?.surname}}) <a type="button"
        class="btn btn-danger btn-sm" *ngIf="id_user>0" [routerLink]="['/admin','reply','plist']">{{ "plist.reset-filter" | transloco }}</a></h3>
    <h3 *ngIf="!(id_user>0)&&!(id_thread>0)">{{ "plist.no-filter" | transloco }}</h3>
    <h3>{{ "plist.showing" | transloco }} {{oPage?.numberOfElements}} {{ "plist.of-total" | transloco }} {{oPage?.totalElements}} {{ "reply.lowercase.plural" | transloco }}</h3>
  </div>
  <input type="text" (keyup)="search(getValue($event))" id="name" placeholder="Search"/>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
      
  </div>
  

  <div class="mb-5 ">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('title')">Title</th>
          <th (click)="doOrder('body')">Body</th>
          <th (click)="doOrder('creation')">Creation</th>
          <th (click)="doOrder('user')">User</th>
          <th (click)="doOrder('thread')">Thread</th>
          <th (click)="doOrder('rating')">Ratings</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{r.id}}</strong></td>
          <td pTooltip="{{r.title}}">{{r.title| trimming:20}}</td>
          <td pTooltip="{{r.body}}">{{r.body| trimming:40}}</td>
          <td class="text-center">{{r.creation | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>
            <a [routerLink]="['/admin','reply','plist','byuser',r.user.id]">({{r.user.id}}) {{r.user.name}}
              {{r.user.surname}}</a>
          </td>
          <td>
            <a [routerLink]="['/admin','reply','plist','bythread',r.thread.id]">({{r.thread.id}})
              {{r.thread.title}}
            </a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/admin','rating','plist','byrating',r.id]" *ngIf="r.ratings>0">{{r.ratings}}</a>
            <span *ngIf="r.ratings==0">0</span>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" [routerLink]="['/admin','reply','view',r.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-primary" (click)="doView(r)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-warning" [routerLink]="['/admin','reply','edit',r.id]"><i
                  class="pi pi-pencil"></i></button>
              <button class="btn btn-danger" (click)="doRemove(r)"><i class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> {{ "reply.removal" | transloco }}</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-reply-detail-unrouted [id]="oReplyToRemove!.id"></app-admin-reply-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>{{ "reply.remove-question" | transloco }}</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd.reject()"> {{ "global.no" | transloco }}</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd.accept()"> {{ "global.yes" | transloco }}</button>
  </ng-template>
</p-confirmDialog>