<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="my-3">List of users</h1>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" [routerLink]="['/admin','user','new']">New user</a>
            </div>
        </div>    
        <app-admin-user-plist-unrouted></app-admin-user-plist-unrouted>                
    </div>
</div>